/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body{
    background-color: #400036;
}

h1{
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
}

h1:hover,
h1:focus{
    text-decoration: underline;
}